body {
    background-color: #d742f4;
}

@media screen and (max-width: 1080px) {
    body {
        background-color: #f44265;
    }
}

@media screen and (max-width: 550px) {
    body {
        background-color: #42f4d4;
    }
}

@media screen and (max-width: 400px) {
    body {
        background-color: #f48942;
    }
}
